{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}

{% block title %}Add A New Cafe{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<div class="container container-add-class">
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <h1>Add a new cafe into the database</h1>

            {{ wtf.quick_form(form, novalidate=True) }}

            <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p>

        </div>
    </div>
</div>

{% endblock %}