<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
    <div class="content">
        <div class="card">
            {% for blog_post in posts: %}
                {% if blog_post["id"] == 1: %}
                <h2>{{ blog_post["title"] }}</h2>
                <p>{{ blog_post["subtitle"] }}</p>
                {% endif %}
            {% endfor %}
            <a href="{{ url_for('find_post', post_id=1) }}">Read</a>
        </div>
    </div>
    <div class="content">
        <div class="card">
            {% for blog_post in posts: %}
                {% if blog_post["id"] == 2: %}
                <h2>{{ blog_post["title"] }}</h2>
                <p>{{ blog_post["subtitle"] }}</p>
                {% endif %}
            {% endfor %}
            <a href="{{ url_for('find_post', post_id=2) }}">Read</a>
        </div>
    </div>
    <div class="content">
    <div class="card">
        {% for blog_post in posts: %}
            {% if blog_post["id"] == 3: %}
            <h2>{{ blog_post["title"] }}</h2>
            <p>{{ blog_post["subtitle"] }}</p>
            {% endif %}
        {% endfor %}
        <a href="{{ url_for('find_post', post_id=3) }}">Read</a>
    </div>
</div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Toronto.</p>
</footer>
</html>