<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
           </div>
        <div class="content">
            <div class="card">
                {% for blog_post in posts: %}
                    {% if blog_post["id"] == 1: %}
                    <h1>{{ blog_post["title"] }}</h1>
                    <h2>{{ blog_post["subtitle"] }}</h2>
                    <p>{{ blog_post["body"] }}</p>
                    {% endif %}
                {% endfor %}
            </div>
         </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Toronto.</p>
</footer>
</html>